@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.screen{
  display: flex;
  justify-content: center;
  background-color: aqua;
  color: blue;
}
.screenSettings{
  width: 450px;
  height: 860px;
  background-color: black;
  color: #F8F8F8;
}