.interestsDiv{
    display: flex;
    justify-content: center;
}
.formDiv02 input{
    margin-left:60px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: larger;
    border-radius: 50px;
}

.formNext{
    display: flex;
    justify-content: center;
}
.formNext img{
    width:150px;
    margin-top: 10px;
}
