.titleBtn{
    display: flex;
    justify-content: center;
}
.titleBtn img{
    width:200px;
}
.setGreen{
    color: green;
    text-align: center;
}
.formDiv01{
    margin: 10px;
}
.formDiv01 input{
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: larger;
    border-radius: 50px;
}
.formNext{
    display: flex;
    justify-content: center;
}
.formNext img{
    width:150px;
    border-radius: 50px;
}