.inputBox{
    position: absolute;
    bottom: 0;
    text-align: center;
}


.whole{
    width:100%;
    height:90%;
    position:absolute;
    background-color: black;
}

.you{
    color:white;
    justify-content: flex-start;
}

.other{
    color:blue;
    justify-content: flex-end;

}