.titleBtn{
    display: flex;
    justify-content: center;
}

.formNext{
    display: flex;
    justify-content: center;
    margin-top: 130%;
    padding: 0%;
}

.interests{
    font-family: 'momcake';
    font-weight: bold;
    text-align: center;
}

@font-face{
    font-family: 'momcake';
    src:url('MomcakeThin.otf')
}

.wrapList{
    display: flex;
    justify-content: center;
    font-family: 'momcake';
    margin-top: 10%;
}
.ting1{
    color: aliceblue;
    position: absolute;
    margin-left: -40%;
    margin-top: 5%;
}

.ting1:hover{
    color:black;
    padding: 0.5%;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}

.ting12{
    color:white;
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
}

.ting12:hover{
    color:black;
    padding: 0.5%;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}

.ting123{
    color:white;
    position: absolute;
    margin-left: 0%;
    margin-top: 13%;
}

.ting123:hover{
    color:black;
    padding: 0.5%;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}

.ting1234{
    color:white;
    position: absolute;
    margin-left: 38%;
    margin-top: 20%;
}

.ting1234:hover{
    color:black;
    padding: 0.5%;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}

.ting12345{
    color:white;
    position: absolute;
    margin-left:4%;
    margin-top: 35%;
}

.ting12345:hover{
    color:black;
    padding: 0.5%;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}