.loading-main{
    text-align: center;
    height: 100%;
}

.quote{
    margin-top:20%;
    color: #1EB955;
}

#titleBtn{
    margin-top: 50px;
}

h3{
    color: #C1C1C1;
}

.matchMessage{
    text-align: center;
    color: #1EB955;
    margin-top: 40%;
}