.match-header{
    text-align: center;
}

.match-image{
    background-color: antiquewhite;
    height: 95px;
    width: 95px;
    border-radius: 50%;
}

.chat{
    height: 100px;
    margin-left: 20px;
    margin-top: 24px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.chat td{
    padding-left: 10px;
    padding-right: 10px;
}
.name{
    font-size: 1.5em;
    vertical-align: bottom;
}
.message{
    vertical-align: text-top;
    font-size: 13px;
    color: #A6A6A6;
}