
.icon{
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 20px;
}

.profile-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.PLEASE{
    text-align: center;
}

.pain{
    margin-left:15px;
}

.profile-title{
    color: #C1C1C1;
    font-weight: bold;
}

.profile-pic{
    max-width: 320px;
    width: 95%;
    height: 400px;
    max-height: 380px;
    margin-left: 10px;
    background-size: cover;
    align-self: center;
    display: inline-flex;
}

.profile-pic input{
    bottom: 0;
    float: right;
    width: 20%;
    background-size: cover;
}
.userName, .comma, .age{
    color: green;
    font-size: 2em;
    margin: 10px 10px 15px 10px;
    display: inline-block;
}
.pro{
    color: #1EB955;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

.about h3{
    color: green;
    font-size: 2em;
    display: inline-block;
    margin: 5px 0px 0px 0px;
    margin-left: 10px;
}
.about p{
    margin: 5px 5px 5px 15px;
    margin-left: 10px;
}

.profile-interests h3{
    color: green;
    font-size: 2em;
    margin: 0 0 5px 0;
    margin-left: 10px;
    margin-top: 20px;
}
.profile-interests p{
    display: inline-block;
    margin: 10px 5px 5px 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: gray;
    text-align: center;
}